<a href="https://colab.research.google.com/github/charitha0606/-assignment-python/blob/master/Assignment_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

 1. Convert Binary number to decimal 
     Ex: 1 0 0 1 0 =1 x 2 5 + 0 x 2 4 + 0 x 2 3 + 1 x 2 2 + 0 x 2 1

In [ ]:
binary_num=list (input('enter a binary number'))
value=0
for i in range(len(binary_num)):
 digit=binary_num.pop()
if digit=='1':
 value=value+pow(2,i)
print("decimal value of the num is",value)

enter a binary number1000001
decimal value of the num is 64

 
 
2. Generate first N number of Fibonacci numbers. Take N value from user

In [ ]:
n= int(input("Enter the value of n: "))
n1, n2 = 0,1 
count=0
print("Fibonacci Sequence upto",n,"terms is: ")
while count<n:
    print(n1)
    nth=n1+n2
    n1=n2
    n2=nth
    count+=1

Enter the value of n: 4
Fibonacci Sequence upto 4 terms is:
0
1
1
2

3. Display multiplication table of K. Take k value from user 
    Ex: 7 x 1 =7 
     7 x 2 = 14

In [ ]:
k=int(input("enter a num to display its  multiplication table"))
for i in range(1,11):
  print(k,'*',i,'=',k*i)

enter a num to display its  multiplication table6
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
6 * 10 = 60

 4. Take 10 integers from keyboard using loop and print their average value on the screen Print the   following patterns using loop :

In [ ]:
for num in range(0,11):
  num=int(input('enter a value'))

enter a value3
enter a value4
enter a value5
enter a value6
enter a value7
enter a value8
enter a value9
enter a value10

In [102]:
 rows = 4
for row in range(1, rows+1):
    for column in range(1, row + 1):
        print("*", end="")
    print("")

*
**
***
****

 5.Write a program to find greatest common divisor (GCD) or highest common factor (HCF) of given two numbers.

In [110]:
import math
m1=int(input("enter fist number"))
m2=int(input("enter second number"))
print(math.gcd(m1,m2),"is the GCD of", m1,m2)

enter fist number15
enter second number30
15 is the GCD of 15 30

6.Write a Python program that accepts a word from the user and reverse it

In [121]:
s=input('enter a word')
print(s[::-1])

enter a wordChicken
nekcihC

7. Write a Python program to count the number of even and odd numbers from a series of numbers.

In [122]:
 start=int(input("Enter the starting number of the sequence: "))
end=int(input("Enter the ending number of the sequence: "))
count_even=0
count_odd=0
for num in range(start,end+1):
    if num%2==0:
        count_even+=1
    else:
        count_odd+=1
print("The number of even numbers:",count_even)
print("The number of odd numbers",count_odd)

Enter the starting number of the sequence: 0
Enter the ending number of the sequence: 30
The number of even numbers: 16
The number of odd numbers 15

8.Write a Python program that prints all the numbers from 0 to 6 except 3 and 6.

In [128]:
for num in range(0,6):
  if num==3:
    continue
  print(num)

0
1
2
4
5